/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*äº’è”ç½‘å›¾æ ‡åŠ¨ç”»*/

.hulianw_animate{
    opacity: 0;
    -webkit-animation: icon_animate1 1.1s linear 1.5s forwards;
            animation: icon_animate1 1.1s linear 1.5s forwards;
}

@-webkit-keyframes icon_animate1{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(150px);
                transform: translateX(0px) translateY(150px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(100px);
                transform: translateX(-100px) translateY(100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);
        opacity: 1;
    }
}

@keyframes icon_animate1{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(150px);
                transform: translateX(0px) translateY(150px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(100px);
                transform: translateX(-100px) translateY(100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);
        opacity: 1;
    }
}

.wanan_animate{
    opacity: 0;
    -webkit-animation: icon_animate3 1.1s linear 1.5s forwards;
            animation: icon_animate3 1.1s linear 1.5s forwards;
}

@-webkit-keyframes icon_animate3{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px);
                transform: translateX(0px) translateY(0px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(0px);
                transform: translateX(-100px) translateY(0px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);;
        opacity: 1;
    }
}

@keyframes icon_animate3{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px);
                transform: translateX(0px) translateY(0px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(0px);
                transform: translateX(-100px) translateY(0px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);;
        opacity: 1;
    }
}

.fanzha_animate{
    opacity: 0;
    -webkit-animation: icon_animate5 1.1s linear 1.5s forwards;
            animation: icon_animate5 1.1s linear 1.5s forwards;
}
@-webkit-keyframes icon_animate5{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(-150px);
                transform: translateX(0px) translateY(-150px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(-100px);
                transform: translateX(-100px) translateY(-100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);;
        opacity: 1;
    } 
}
@keyframes icon_animate5{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(-150px);
                transform: translateX(0px) translateY(-150px);
    }
    40%{
        -webkit-transform: translateX(-100px) translateY(-100px);
                transform: translateX(-100px) translateY(-100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(-420px) translateY(0px);
                transform: translateX(-420px) translateY(0px);;
        opacity: 1;
    } 
}


.beian_animate{
    opacity: 0;
    -webkit-animation: icon_animate2 1.1s linear 1.5s forwards;
            animation: icon_animate2 1.1s linear 1.5s forwards;
}

@-webkit-keyframes icon_animate2{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(150px);
                transform: translateX(0px) translateY(150px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(100px);
                transform: translateX(100px) translateY(100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);
        opacity: 1;
    }
}

@keyframes icon_animate2{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(150px);
                transform: translateX(0px) translateY(150px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(100px);
                transform: translateX(100px) translateY(100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);
        opacity: 1;
    }
}

.weiwen_animate{
    opacity: 0;
    -webkit-animation: icon_animate4 1.1s linear 1.5s forwards;
            animation: icon_animate4 1.1s linear 1.5s forwards;
}

@-webkit-keyframes icon_animate4{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px);
                transform: translateX(0px) translateY(0px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(0px);
                transform: translateX(100px) translateY(0px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);;
        opacity: 1;
    }
}

@keyframes icon_animate4{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px);
                transform: translateX(0px) translateY(0px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(0px);
                transform: translateX(100px) translateY(0px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);;
        opacity: 1;
    }
}

.xuke_animate{
    opacity: 0;
    -webkit-animation: icon_animate6 1.1s linear 1.5s forwards;
            animation: icon_animate6 1.1s linear 1.5s forwards;
}
@-webkit-keyframes icon_animate6{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(-150px);
                transform: translateX(0px) translateY(-150px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(-100px);
                transform: translateX(100px) translateY(-100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);;
        opacity: 1;
    } 
}
@keyframes icon_animate6{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(-150px);
                transform: translateX(0px) translateY(-150px);
    }
    40%{
        -webkit-transform: translateX(100px) translateY(-100px);
                transform: translateX(100px) translateY(-100px);
        opacity: .8;
    }
    100%{
        -webkit-transform: translateX(420px) translateY(0px);
                transform: translateX(420px) translateY(0px);;
        opacity: 1;
    } 
}

/*å°åˆ°å¤§å…¥åœºåŠ¨ç”»*/
.zoomout_animate{
    opacity: 0;
    -webkit-animation: todo_zoomout .3s ease-in 1.2s forwards;
            animation: todo_zoomout .3s ease-in 1.2s forwards;/*,todo_rotate 1s ease 1.7s forwards*/
}

@-webkit-keyframes todo_zoomout{
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes todo_zoomout{
    0%{
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes todo_rotate{
    0%{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    100%{
        -webkit-transform: rotateZ(-180deg);
                transform: rotateZ(-180deg);
    }
}

@keyframes todo_rotate{
    0%{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    100%{
        -webkit-transform: rotateZ(-180deg);
                transform: rotateZ(-180deg);
    }
}
/*å¤§åˆ°å°å…¥åœºåŠ¨ç”»*/
.zoomin_animate{
    -webkit-animation: todo_zoomin 1s cubic-bezier(.53,.07,.31,.98);
            animation: todo_zoomin 1s cubic-bezier(.53,.07,.31,.98);
}

@-webkit-keyframes todo_zoomin{
    0%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0;
    }
    10%,20%,30%,40%,55%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes todo_zoomin{
    0%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        opacity: 0;
    }
    10%,20%,30%,40%,55%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

/*å…¥åœºç§»åŠ¨åŠ¨ç”»*/
/*æœ€é¡¶åŠ¨ç”»*/
.transform_top1{
    opacity: 0;
    -webkit-animation: top_move1 .3s ease-in;
            animation: top_move1 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes top_move1{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 1;
    }
}

@keyframes top_move1{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        opacity: 1;
    }
}

/*é¡¶å±‚å››ç‚¹*/
.transform_top2{
    opacity: 0;
    -webkit-animation: top_move2 .3s ease-in;
            animation: top_move2 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}

@-webkit-keyframes top_move2{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(55px);
                transform: translateY(55px);
        opacity: 1;
    }
}

@keyframes top_move2{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(55px);
                transform: translateY(55px);
        opacity: 1;
    }
}

/*é¡¶å±‚ç®­å¤´*/
.transform_top3{
    opacity: 0;
    -webkit-animation: top_move3 .3s ease-in;
            animation: top_move3 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

@-webkit-keyframes top_move3{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(55px);
                transform: translateY(55px);
        opacity: 1;
    }
}

@keyframes top_move3{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(55px);
                transform: translateY(55px);
        opacity: 1;
    }
}

/*é¡¶å±‚åŠåœ†*/
.transform_top4{
    opacity: 0;
    -webkit-animation: top_move4 .3s ease-in;
            animation: top_move4 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}

@-webkit-keyframes top_move4{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 1;
    }
}

@keyframes top_move4{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        opacity: 1;
    }
}

/*æœ€åº•å±‚åŠ¨ç”»*/
.transform_bottom1{
    opacity: 0;
    -webkit-animation: bottom_move1 .4s ease-in 0.7s forwards;
            animation: bottom_move1 .4s ease-in 0.7s forwards;
}

@-webkit-keyframes bottom_move1{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
        opacity: 1;
    }
}

@keyframes bottom_move1{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(15px);
                transform: translateY(15px);
        opacity: 1;
    }
}

/*åº•å±‚å››ç‚¹åŠ¨ç”»*/
.transform_bottom2{
    opacity: 0;
    -webkit-animation: bottom_move2 .3s ease-in;
            animation: bottom_move2 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}

@-webkit-keyframes bottom_move2{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-55px);
                transform: translateY(-55px);
        opacity: 1;
    }
}

@keyframes bottom_move2{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-55px);
                transform: translateY(-55px);
        opacity: 1;
    }
}

/*åº•å±‚ç®­å¤´*/
.transform_bottom3{
    opacity: 0;
    -webkit-animation: bottom_move3 .3s ease-in;
            animation: bottom_move3 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

@-webkit-keyframes bottom_move3{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-55px);
                transform: translateY(-55px);
        opacity: 1;
    }
}

@keyframes bottom_move3{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-55px);
                transform: translateY(-55px);
        opacity: 1;
    }
}

/*åº•å±‚åŠåœ†*/
.transform_bottom4{
    opacity: 0;
    -webkit-animation: bottom_move4 .3s ease-in;
            animation: bottom_move4 .3s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}

@-webkit-keyframes bottom_move4{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes bottom_move4{
    0%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100%{
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
        opacity: 1;
    }
}


/*å·¦å¤–åœˆåœ†*/
.transform_left1{
    opacity: 0;
    -webkit-animation: left_move1 .6s ease-in;
            animation: left_move1 .6s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes left_move1{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
         
     }
    50%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        opacity: 1;
        
    }
     100%{
         -webkit-transform: translateX(-171px);
                 transform: translateX(-171px);
         opacity: 1;
     }
 }

@keyframes left_move1{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
         
     }
    50%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        opacity: 1;
        
    }
     100%{
         -webkit-transform: translateX(-171px);
                 transform: translateX(-171px);
         opacity: 1;
     }
 }

/*å·¦é‡Œåœˆåœ†*/
.transform_left2{
    opacity: 0;
    -webkit-animation: left_move2 .6s ease-out;
            animation: left_move2 .6s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

@-webkit-keyframes left_move2{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
    }
    50%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(-171px);
                 transform: translateX(-171px);
         opacity: 1;
    }
}

@keyframes left_move2{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
    }
    50%{
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(-171px);
                 transform: translateX(-171px);
         opacity: 1;
    }
}

/*å·¦çº¿æ¡*/
.transform_left3{
    opacity: 0;
    -webkit-animation: left_move3 .2s ease-in;
            animation: left_move3 .2s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes left_move3{
    from{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
     to{
         -webkit-transform: translateX(-30px);
                 transform: translateX(-30px);
         opacity: 1;
     }
}

@keyframes left_move3{
    from{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
     to{
         -webkit-transform: translateX(-30px);
                 transform: translateX(-30px);
         opacity: 1;
     }
}

/*å·¦ç©ºå¿ƒç‚¹*/
.transform_left4{
    opacity: 0;
    -webkit-animation: left_move4 .2s ease-in;
            animation: left_move4 .2s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes left_move4{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(-60px);
                transform: translateX(-60px);
        opacity: 1;
    }
}

@keyframes left_move4{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(-60px);
                transform: translateX(-60px);
        opacity: 1;
    }
}

/*å·¦å››ç‚¹*/
.transform_left5{
    opacity: 0;
    -webkit-animation: left_move5 .3s ease-out;
            animation: left_move5 .3s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

@-webkit-keyframes left_move5{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(80px);
                transform: translateX(80px);
        opacity: 1;
    }
}

@keyframes left_move5{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(80px);
                transform: translateX(80px);
        opacity: 1;
    }
}

/*å³å¤–åœˆåœ†*/
.transform_right1{
    opacity: 0;
    -webkit-animation: right_move1 .6s ease-in;
            animation: right_move1 .6s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes right_move1{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
    50%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(170px);
                 transform: translateX(170px);
         opacity: 1;
     }
}

@keyframes right_move1{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
    50%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(170px);
                 transform: translateX(170px);
         opacity: 1;
     }
}

/*å³é‡Œåœˆåœ†*/
.transform_right2{
    opacity: 0;
    -webkit-animation: right_move2 .6s ease-out;
            animation: right_move2 .6s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

@-webkit-keyframes right_move2{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
    50%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(170px);
                 transform: translateX(170px);
         opacity: 1;
     }
}

@keyframes right_move2{
    0%{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
    50%{
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
        opacity: 1;
        
    }
    100%{
         -webkit-transform: translateX(170px);
                 transform: translateX(170px);
         opacity: 1;
     }
}

/*å³çº¿æ¡*/
.transform_right3{
    opacity: 0;
    -webkit-animation: right_move3 .2s ease-out;
            animation: right_move3 .2s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}

@-webkit-keyframes right_move3{
    from{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
     to{
         -webkit-transform: translateX(30px);
                 transform: translateX(30px);
         opacity: 1;
     }
}

@keyframes right_move3{
    from{
         -webkit-transform: translateX(0px);
                 transform: translateX(0px);
     }
     to{
         -webkit-transform: translateX(30px);
                 transform: translateX(30px);
         opacity: 1;
     }
}

/*å³ç©ºå¿ƒç‚¹*/
.transform_right4{
    opacity: 0;
    -webkit-animation: right_move4 .2s ease-in;
            animation: right_move4 .2s ease-in;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}

@-webkit-keyframes right_move4{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(60px);
                transform: translateX(60px);
        opacity: 1;
    }
}

@keyframes right_move4{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(60px);
                transform: translateX(60px);
        opacity: 1;
    }
}

/*å³å››ç‚¹*/
.transform_right5{
    opacity: 0;
    -webkit-animation: right_move5 .3s ease-out;
            animation: right_move5 .3s ease-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

@-webkit-keyframes right_move5{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(-80px);
                transform: translateX(-80px);
        opacity: 1;
    }
}

@keyframes right_move5{
    from{
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
    to{
        -webkit-transform: translateX(-80px);
                transform: translateX(-80px);
        opacity: 1;
    }
}

.rotate_circle{
    -webkit-animation: rotate_circle 8s linear 1.5s infinite;
            animation: rotate_circle 8s linear 1.5s infinite;
}

/*å±•ç¤ºåŠ¨ç”»*/
@-webkit-keyframes rotate_circle{
    0%{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    50%{
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    100%{
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}
@keyframes rotate_circle{
    0%{
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    50%{
        -webkit-transform: rotateZ(180deg);
                transform: rotateZ(180deg);
    }
    100%{
        -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}